*{
  /* margin: 0;
  padding: 0; */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: Arial;
}
.post-list{
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 293px));
  justify-content:center;
  grid-gap: 28px; 
}
.post {
  position: relative;
  display:block;
}
/*El figure tiene por defecto margin*/
.post-image {
  margin: 0;
}
/*Las imágenes por defecto vienen con un margen, por eso hay que setear el vertical align en top*/
.post-image img {
  width: 100%;
  vertical-align: top;
}
/*Para que el elemento con posición absoluta se estire (y se pegue al primer padre con posición relativa), seteamos left:0, right:0, left:0, top:0 así toma su tamaño total.
*/
.post-overlay {
  background: rgba(0, 0, 0, .4);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display:none;
  color: white;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.post:hover .post-overlay {
  display: flex;
}
.post-likes,
.post-comments {
  font-weight: bold;
  display:inline-block;
  padding: 0 20px;
}
/* hasta 768px */
@media screen and (max-width: 768px) {
  .post-list{
    grid-gap: 3px;
  }
}
